<div class="row panel">
  <div class="col-sm-3 panel">
    <h4>{{question.author}}</h4>
    <h5>{{question.date}}</h5>
    <button {{action 'displayUpdate' showUpdate}}>Edit</button>
    <button {{action 'deleteQuestion' question}}>Delete</button>
  </div>
  {{#if showUpdate}}
    <div class="col-sm-9 panel">
      {{question-update question=question updateQuestion="updateQuestion"}}
    </div>
  {{else}}
    <div class="col-sm-9">
      <div class="row panel">
        <h3>Question:</h3>
        <p><strong>{{question.content}}</strong></p>
        <p><em>{{question.details}}</em></p>
      </div>
      <div class="row panel">
        <h3>Answers:</h3>
        {{#each question.answers as |answer|}}
          {{display-answer answer=answer destroyAnswer="destroyAnswer"}}
        {{/each}}
        {{new-answer question=question makeAnswer="makeAnswer"}}
      </div>
    </div>
  {{/if}}
</div>
