{{#if showForm}}
  <form>
    <div class="form-group">
      <label for="author">User-Name:</label>
      {{input value=author id="author"}}
    </div>
    <div class="form-group">
      <label for="content">Answer:</label>
      {{input value=content id="content"}}
    </div>
    <button class="inline" {{action 'newAnswer' question}}>Submit</button>
    <button class="inline" {{action 'displayForm' showForm}}>Cancel</button>
  </form>
{{else}}
  <button {{action 'displayForm' showForm}}>New Answer</button>
{{/if}}
