<div class="row panel">
  <div class="col-sm-3 panel">
    {{#link-to "question" question.id}}
      <h4>{{question.author}}</h4>
      <h5>{{question.date}}</h5>
    {{/link-to}}
    <button {{action 'displayUpdate' showUpdate}}>Edit</button>
    <button {{action 'deleteQuestion' question}}>Delete</button>
  </div>
  {{#if showUpdate}}
    <div class="col-sm-9 panel">
      {{question-update question=question updateQuestion="updateQuestion"}}
    </div>
  {{else}}
    {{#link-to "question" question.id}}
      <div class="col-sm-9">
        <div class="row panel">
          <p><strong>{{question.content}}</strong></p>
        </div>
      </div>
    {{/link-to}}
  {{/if}}
</div>
